/* header.scss */

.header {
  position: relative;
  z-index: 9;
  background-color: var(--color-header);
  .inner {
    max-width: 1020px;
  }
}

.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
  &__item {
    position: relative;
    display: flex;
    transition: 0.4s;
  }
  &__link {
    padding: 0 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    color: var(--color-section);
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.menu__icon {
  width: 14px;
  background-repeat: no-repeat;
  background-position: center 13px;
}

.apple-logo .menu__icon {
  background-image: url("../assets/images/header_apple.svg");
}
.search-starter .menu__icon {
  background-image: url("../assets/images/header_search.svg");
}
.basket-starter .menu__icon {
  background-image: url("../assets/images/header_bag.svg");
}

/* Basket */

.basket {
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
  width: 290px;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--color--white);
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  &__arrow {
    width: 20px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: 12px;
    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border: 1px solid var(--color-border);
      background-color: var(--color--white);
      transform: rotate(45deg);
      transform-origin: 0 0;
      position: absolute;
      top: 0;
      left: 50%;
    }
  }
  &__message {
    padding: 30px 0;
    font-size: 13px;
    color: var(--color-font-darkgray);
    text-align: center;
  }
  &__list {
    margin-top: 10px;
  }
  &__item {
    border-top: 1px solid var(--color-border);
  }
  &__link {
    display: block;
    padding: 14px;
    font-size: 13px;
    color: var(--color-link);
    &:hover {
      text-decoration: underline;
    }
  }
}

.basket.show {
  visibility: visible;
  opacity: 1;
}

/* Search */

.search-wrap {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
}

.search {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
  &__shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-shadow);
  }
  &__textfield {
    position: relative;
  }
  &__input {
    width: 100%;
    height: 44px;
    padding: 0 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    color: #fff;
  }
  &__icon {
    width: 40px;
    height: 44px;
    background-image: url("/assets/images/header_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
  }
  &__closer {
    width: 40px;
    height: 44px;
    background-image: url("/assets/images/header_close.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}

.autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  background-color: var(--color-white);
  position: absolute;
  top: 44px;
  left: 0;
  h3 {
    font-size: 12px;
    color: var(--color-font-darkgray);
    margin-bottom: 12px;
  }
  &__link {
    display: block;
    margin: 0 -14px;
    padding: 10px 0 10px 30px;
    font-size: 14px;
  }
}

.autocompletes__item:hover .autocompletes__link {
  background-color: var(--color-section);
  color: var(--color-link);
}

.search__input,
.search__icon,
.autocompletes h3,
.autocompletes__item {
  transition: 0.6s;
  transform: translate(100px, 0);
}

.searching .menu__item {
  transform: scale(0.7);
  opacity: 0;
}

.searching .search-wrap {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.searching .search__input,
.searching .search__icon,
.searching .autocompletes h3,
.searching .autocompletes__item {
  transition-delay: 0.2s;
  transform: translate(0, 0);
}
