.hero {
  background-color: var(--color-section);
  .inner {
    padding-bottom: 110px;
  }
  h1 {
    width: 221px;
    height: 91px;
    background-image: url("/assets/images/hero_ipad_text.png");
    position: absolute;
    transform: translate(624px, 235px);
    z-index: 1;
  }
  &__figures {
    height: 808px;
  }
  &__figure {
    transform: translate(74px, -64px);
  }
  .caption-camera {
    width: 120px;
    height: 84px;
    background-image: url("/assets/images/hero_ipad_caption_camera.png");
    transform: translate(43px, 580px);
  }
  .caption-chip {
    width: 95px;
    height: 43px;
    background-image: url("/assets/images/hero_ipad_caption_chip.png");
    transform: translate(589px, 510px);
  }
  .caption-storage {
    width: 80px;
    height: 43px;
    background-image: url("/assets/images/hero_ipad_caption_storage.png");
    transform: translate(627px, 631px);
  }
  h2 {
    width: 738px;
    height: 145px;
    margin: 0 auto;
    background-image: url("/assets/images/hero_headline.png");
  }
  &__pricing {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  &__description {
    width: 88%;
    margin: 18px auto 0;
    font-size: 19px;
    text-align: center;
  }
  &__links {
    margin-top: 30px;
  }
}

/* Power */
.power {
  margin-top: 110px;
}
/* Power / Multiple Apps */
.power .multiple-apps h1 {
  width: 500px;
  height: 280px;
  background-image: url("/assets/images/power_headline.png");
  transform: translate(104px, 0);
}
.power .multiple-apps .figures {
  height: 773px;
}
.power .multiple-apps figcaption {
  width: 138px;
  height: 46px;
  background-image: url("/assets/images/power_multiple_apps_caption.png");
  transform: translate(703px, -47px);
}
/* Power / Arcade */
.power .arcade {
  margin-top: 55px;
}
.power .arcade .figures {
  height: 600px;
}
.power .arcade figure {
  transform: translate(-347px, -90px);
}
.power .arcade figcaption {
  width: 150px;
  height: 77px;
  background-image: url("/assets/images/power_arcade_caption.png");
  transform: translate(483px, 653px);
}
/* Power / Create */
.power .create {
  margin-top: 55px;
}
.power .create .figures {
  height: 772px;
}
.power .create figure {
  transform: translate(-25px, 50px);
}
.power .create figcaption {
  width: 142px;
  height: 46px;
  background-image: url("/assets/images/power_create_caption.png");
  transform: translate(543px, 908px);
}

/* Display */
.display {
  margin-top: 450px;
}
/* Display / Notes */
.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url("/assets/images/display_headline.png");
  transform: translate(104px, 0);
}
.display .notes .figures {
  height: 814px;
  margin-top: 26px;
}
.display .notes figcaption {
  width: 145px;
  height: 45px;
  background-image: url("/assets/images/display_notes_caption.png");
  transform: translate(707px, -16px);
}
/* Display / Shareplay */
.display .shareplay {
  margin-top: 55px;
}
.display .shareplay .figures {
  height: 630px;
}
.display .shareplay figure {
  transform: translate(-360px, 0);
}
.display .shareplay figcaption {
  width: 110px;
  height: 48px;
  background-image: url("/assets/images/display_shareplay_caption.png");
  transform: translate(300px, 658px);
}

/* Camera */
.camera {
  margin-top: 303px;
}
/* Camera / Stage */
.camera .stage {
  position: relative;
}
.camera .stage h1 {
  width: 650px;
  height: 450px;
  background-image: url("/assets/images/camera_headline.png");
  transform: translate(-25px, 0);
}
.camera .stage .info {
  position: absolute;
  top: 150px;
  right: 0;
}
.camera .stage .figures {
  height: 770px;
  margin-top: 24px;
}
.camera .stage figure {
  transform: translate(90px, 0);
}
.camera .stage video {
  position: absolute;
  top: 36px;
  left: 76px;
  -webkit-mask-image: url("/assets/images/camera_video_mask.png");
  mask-image: url("/assets/images/camera_video_mask.png");
}
.camera .stage .controller--play,
.camera .stage .controller--pause {
  color: var(--color-link);
  cursor: pointer;
  transform: translate(428px, -134px) rotate(-3deg);
  display: flex;
  align-items: center;
  gap: 8px;
}
.camera .stage .controller--play:hover,
.camera .stage .controller--pause:hover {
  text-decoration: underline;
}
.camera .stage .controller--play.hide,
.camera .stage .controller--pause.hide {
  display: none;
}
.camera .stage .controller--play img,
.camera .stage .controller--pause img {
  width: 20px;
  margin-top: -2px;
}
.camera .stage figcaption {
  width: 130px;
  height: 110px;
  background-image: url("/assets/images/camera_hardware_caption.png");
  transform: translate(-116px, 383px);
}
/* Camera / Edit */
.camera .edit .figures {
  height: 910px;
}
.camera .edit figure {
  transform: translate(20px, 0);
}
.camera .edit figcaption {
  width: 130px;
  height: 47px;
  background-image: url("/assets/images/camera_edit_caption.png");
  transform: translate(27px, 905px);
}
