main {
  overflow-x: hidden;
}

/* Wireless */
.wireless {
  margin-top: 202px;
}
/* Wireless / Facetime */
.wireless .facetime h1 {
  width: 730px;
  height: 330px;
  background-image: url("/assets/images/wireless_headline.png");
  transform: translate(104px, 0);
}
.wireless .facetime .figures {
  height: 773px;
}
.wireless .facetime figure {
  transform: translate(-68px, 0);
}
.wireless .facetime figcaption {
  width: 139px;
  height: 46px;
  background-image: url("/assets/images/wireless_facetime_caption.png");
  transform: translate(843px, -49px);
}
/* Wireless / Files */
.wireless .files figure {
  transform: translate(34px, -34px);
}
.wireless .files figcaption {
  width: 127px;
  height: 46px;
  background-image: url("/assets/images/wireless_files_caption.png");
  transform: translate(96px, 639px);
}

/* Acssessories */
.accessories {
  margin-top: 195px;
}
.accessories h1 {
  width: 550px;
  height: 343px;
  background-image: url("/assets/images/accessories_headline.png");
  margin: 0 auto;
}
.accessories .figures {
  height: 1021px;
  margin-top: 34px;
}
.accessories figure {
  transform: translate(-24px, 0);
}
.accessories figcaption .caption-memo {
  width: 169px;
  height: 41px;
  background-image: url("/assets/images/accessories_caption_memo.png");
  transform: translate(790px, -52px);
}
.accessories figcaption .caption-supports {
  width: 200px;
  height: 70px;
  background-image: url("/assets/images/accessories_caption_supports.png");
  transform: translate(163px, 821px);
}
.accessories .infos {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* iPadOS */
.ipados {
  margin-top: 212px;
}
.ipados h1 {
  width: 530px;
  height: 400px;
  margin: 0 auto;
  background-image: url("/assets/images/ipados_headline.png");
}
.ipados .infos {
  margin-top: 44px;
  align-items: flex-end;
}
.ipados .figures {
  display: flex;
  height: 782px;
}
.ipados .figures > div {
  flex-grow: 1;
  position: relative;
}
.ipados .figure-split-view figure {
  transform: translate(-205px, -312px);
}
.ipados .figure-split-view figcaption {
  width: 163px;
  height: 53px;
  background-image: url("/assets/images/ipados_split_view_caption.png");
  transform: translate(200px, -38px);
}
.ipados .figure-widgets figure {
  transform: translate(237px, 43px);
}
.ipados .figure-widgets figcaption {
  width: 161px;
  height: 46px;
  background-image: url("/assets/images/ipados_widgets_caption.png");
  transform: translate(257px, 497px);
}
.ipados .figure-quick-note figure {
  transform: translate(-625px, 232px);
}
.ipados .figure-quick-note figcaption {
  width: 82px;
  height: 97px;
  background-image: url("/assets/images/ipados_quick_note_caption.png");
  transform: translate(511px, 470px);
}

/* Apps */
.apps {
  margin-top: 368px;
}
.apps h1 {
  width: 500px;
  height: 264px;
  background-image: url("../images/apps_headline.png");
  transform: translate(17px, 0);
}
.apps .infos {
  margin-top: 36px;
  margin-left: 82px;
}
.apps .figures {
  display: flex;
  height: 788px;
}
.apps .figures > div {
  flex-grow: 1;
  position: relative;
}
.apps .figure-masterclass figure {
  transform: translate(578px, -431px);
}
.apps .figure-masterclass figcaption {
  width: 100px;
  height: 25px;
  background-image: url("../images/apps_masterclass_caption.png");
  transform: translate(26px, 690px);
}
.apps .figure-adobe figure {
  transform: translate(-515px, 85px);
}
.apps .figure-adobe figcaption {
  width: 105px;
  height: 24px;
  background-image: url("../images/apps_adobe_caption.png");
  transform: translate(544px, 514px);
}
.apps .figure-fantasian figure {
  transform: translate(-103px, 318px);
}
.apps .figure-fantasian figcaption {
  width: 74px;
  height: 22px;
  background-image: url("../images/apps_fantasian_caption.png");
  transform: translate(24px, 483px);
}
.apps .figure-books figure {
  transform: translate(-133px, -150px);
}
.apps .figure-books figcaption {
  width: 50px;
  height: 27px;
  background-image: url("../images/apps_books_caption.png");
  transform: translate(397px, 707px);
}
.apps .figure-goodnotes figure {
  transform: translate(-93px, 68px);
}
.apps .figure-goodnotes figcaption {
  width: 99px;
  height: 26px;
  background-image: url("../images/apps_goodnotes_caption.png");
  transform: translate(24px, 690px);
}

/* Privacy */
.privacy {
  margin-top: 238px;
}
.privacy h1 {
  width: 482px;
  height: 237px;
  margin-left: auto;
  background-image: url("/assets/images/privacy_headline.png");
  transform: translate(57px, 0);
  position: relative;
  z-index: 1;
}
.privacy .infos {
  margin-top: 38px;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
.privacy figure {
  transform: translate(-215px, -500px);
}
.privacy figcaption .caption-apple-id {
  width: 170px;
  height: 26px;
  background-image: url("/assets/images/privacy_caption_apple_id.png");
  transform: translate(195px, -13px);
}
.privacy figcaption .caption-touch-id {
  width: 150px;
  height: 31px;
  background-image: url("/assets/images/privacy_caption_touch_id.png");
  transform: translate(533px, 485px);
}

/* Accessibility */
.accessibility {
  margin-top: 266px;
  margin-bottom: 170px;
}
.accessibility h1 {
  width: 384px;
  height: 270px;
  background-image: url("/assets/images/accessibility_headline.png");
}
.accessibility .infos {
  margin-top: 20px;
}
.accessibility figure {
  transform: translate(470px, -620px);
}

/* AR */
.ar {
  padding: 20px 20px 0;
  background-color: var(--color-section);
}
.ar .whitebox {
  padding-bottom: 0;
}
.ar .inner {
  display: flex;
}
.ar .inner > div {
  max-width: 410px;
  margin-top: 60px;
  margin-right: 90px;
}

/* Environment */
.environment {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}
.environment .icon {
  margin-left: auto;
  margin-right: auto;
}
.environment h1 {
  color: #03a10e;
}

/* Accessory Shop */
.accessory-shop {
  background-color: var(--color-section);
  text-align: center;
}
.accessory-shop .whitebox {
  padding-bottom: 0;
}
.accessory-shop .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accessory-shop img {
  margin-top: 50px;
}

/* Trade */
.trade {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}

/* Compare */
.compare {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}
.compare .items {
  display: flex;
  justify-content: space-around;
  max-width: 940px;
  margin: 68px auto 74px;
}
.compare .item {
  width: 190px;
  padding-bottom: 34px;
  border-bottom: 1px solid var(--color-border);
}
.compare .item .thumbnail {
  height: 214px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.compare .item ul.colors {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 6px;
}
.compare .item ul.colors li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: lightgray;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.compare .item h3.name {
  margin-bottom: 4px;
  font-size: 22px;
}
.compare .item .tagline {
  margin-bottom: 20px;
  font-size: 16px;
}
.compare .item .price {
  margin-bottom: 10px;
  font-size: 14px;
}
.compare .item .btn {
  margin: 0 auto 14px;
}
.compare .item a.link {
  font-size: 14px;
}
