main {
  overflow-x: hidden;
}

/* Environment */
.environment {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}
.environment .icon {
  margin-left: auto;
  margin-right: auto;
}
.environment h1 {
  color: #03a10e;
}

@include tablet {
  .environment p br {
    display: none;
  }
}

/* Accessory Shop */
.accessory-shop {
  background-color: var(--color-section);
  text-align: center;
}
.accessory-shop .whitebox {
  padding-bottom: 0;
}
.accessory-shop .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accessory-shop img {
  margin-top: 50px;
}

@include tablet {
  .accessory-shop img {
    width: 960px;
  }
}

/* Trade */
.trade {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}

@include tablet {
  .trade p br {
    display: none;
  }
}
