/* Accessibility */
.accessibility {
  margin-top: 266px;
  margin-bottom: 170px;
}
.accessibility h1 {
  width: 384px;
  height: 270px;
  background-image: url("/assets/images/accessibility_headline.png");
}
.accessibility .infos {
  margin-top: 20px;
}
.accessibility figure {
  transform: translate(470px, -620px);
}

@include tablet {
  .accessibility {
    margin-top: 86px;
    margin-bottom: 120px;
  }
  .accessibility h1 {
    width: 287px;
    height: 205px;
  }
  .accessibility .info {
    max-width: 346px;
  }
  .accessibility figure {
    transform: translate(401px, -504px);
  }
  .accessibility figure img {
    width: 329px;
  }
}

@include mobile {
  .accessibility {
    margin-bottom: 50px;
  }
  .accessibility h1 {
    height: 165px;
    margin: 0 auto;
  }
  .accessibility .info {
    max-width: none;
  }
  .accessibility .figures {
    margin-top: 30px;
  }
  .accessibility figure {
    transform: translate(20px, 0);
  }
}
