/* Acssessories */
.accessories {
  margin-top: 195px;
}
.accessories h1 {
  width: 550px;
  height: 343px;
  background-image: url("/assets/images/accessories_headline.png");
  margin: 0 auto;
}
.accessories .figures {
  height: 1021px;
  margin-top: 34px;
}
.accessories figure {
  transform: translate(-24px, 0);
}
.accessories figcaption .caption-memo {
  width: 169px;
  height: 41px;
  background-image: url("/assets/images/accessories_caption_memo.png");
  transform: translate(790px, -52px);
}
.accessories figcaption .caption-supports {
  width: 200px;
  height: 70px;
  background-image: url("/assets/images/accessories_caption_supports.png");
  transform: translate(163px, 821px);
}
.accessories .infos {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@include tablet {
  .accessories {
    margin-top: 120px;
  }
  .accessories h1 {
    width: 384px;
    height: 243px;
  }
  .accessories .figures {
    height: 700px;
  }
  .accessories figure {
    transform: translate(12px, 0);
  }
  .accessories figure img {
    width: 712px;
  }
  .accessories figcaption .caption-memo {
    transform: scale(0.8) translate(677px, -60px);
  }
  .accessories figcaption .caption-supports {
    transform: scale(0.8) translate(101px, 650px);
  }
}

@include mobile {
  .accessories h1 {
    width: 300px;
    height: 190px;
  }
  .accessories .figures {
    height: auto;
    margin-top: 64px;
  }
  .accessories figure img {
    width: 380px;
  }
  .accessories figcaption .caption-memo {
    transform: scale(0.8) translate(186px, -58px);
  }
  .accessories figcaption .caption-supports {
    width: 160px;
    height: 44px;
    background-image: url("/assets/images/accessories_caption_supports_mobile.png");
    transform: scale(1) translate(31px, 335px);
  }
  .accessories .infos {
    margin-top: 100px;
  }
}
