/* Apps */
.apps {
  margin-top: 368px;
}
.apps h1 {
  width: 500px;
  height: 264px;
  background-image: url("/assets/images/apps_headline.png");
  transform: translate(17px, 0);
}
.apps .infos {
  margin-top: 36px;
  margin-left: 82px;
}
.apps .figures {
  display: flex;
  height: 788px;
}
.apps .figures > div {
  flex-grow: 1;
  position: relative;
}
.apps .figure-masterclass figure {
  transform: translate(578px, -431px);
}
.apps .figure-masterclass figcaption {
  width: 100px;
  height: 25px;
  background-image: url("/assets/images/apps_masterclass_caption.png");
  transform: translate(26px, 690px);
}
.apps .figure-adobe figure {
  transform: translate(-515px, 85px);
}
.apps .figure-adobe figcaption {
  width: 105px;
  height: 24px;
  background-image: url("/assets/images/apps_adobe_caption.png");
  transform: translate(544px, 514px);
}
.apps .figure-fantasian figure {
  transform: translate(-103px, 318px);
}
.apps .figure-fantasian figcaption {
  width: 74px;
  height: 22px;
  background-image: url("/assets/images/apps_fantasian_caption.png");
  transform: translate(24px, 483px);
}
.apps .figure-books figure {
  transform: translate(-133px, -150px);
}
.apps .figure-books figcaption {
  width: 50px;
  height: 27px;
  background-image: url("/assets/images/apps_books_caption.png");
  transform: translate(397px, 707px);
}
.apps .figure-goodnotes figure {
  transform: translate(-93px, 68px);
}
.apps .figure-goodnotes figcaption {
  width: 99px;
  height: 26px;
  background-image: url("/assets/images/apps_goodnotes_caption.png");
  transform: translate(24px, 690px);
}

@include tablet {
  .apps {
    margin-top: 120px;
  }
  .apps h1 {
    width: 390px;
    height: 208px;
    transform: none;
  }
  .apps .infos {
    margin-left: 0;
  }
  .apps .info {
    max-width: 404px;
  }
  .apps .figures {
    height: 450px;
  }
  .apps .figure-masterclass figure {
    transform: translate(438px, -264px);
  }
  .apps .figure-masterclass figure img {
    width: 330px;
  }
  .apps .figure-masterclass figcaption {
    transform: scale(0.8) translate(6px, 480px);
  }
  .apps .figure-adobe figure {
    transform: translate(-230px, 20px);
  }
  .apps .figure-adobe figure img {
    width: 438px;
  }
  .apps .figure-adobe figcaption {
    transform: scale(0.8) translate(324px, 355px);
  }
  .apps .figure-fantasian figure {
    transform: translate(-40px, 160px);
  }
  .apps .figure-fantasian figure img {
    width: 438px;
  }
  .apps .figure-fantasian figcaption {
    transform: scale(0.8) translate(14px, 339px);
  }
  .apps .figure-books figure {
    transform: translate(42px, -94px);
  }
  .apps .figure-books figure img {
    width: 330px;
  }
  .apps .figure-books figcaption {
    transform: scale(0.8) translate(253px, 493px);
  }
  .apps .figure-goodnotes figure {
    transform: translate(3px, 28px);
  }
  .apps .figure-goodnotes figure img {
    width: 346px;
  }
  .apps .figure-goodnotes figcaption {
    transform: scale(0.8) translate(5px, 483px);
  }
}

@include mobile {
  .apps h1 {
    width: 320px;
    height: 169px;
    margin: 0 auto;
  }
  .apps .info {
    max-width: none;
  }
  .apps .figures {
    display: block;
    height: auto;
  }
  .apps .figures > div {
    display: flex;
    justify-content: center;
    height: 240px;
  }
  .apps .figure-masterclass figure {
    transform: translate(140px, 40px);
  }
  .apps .figure-masterclass figure img {
    width: 270px;
  }
  .apps .figure-masterclass figcaption {
    transform: scale(0.8) translate(29px, 400px);
  }
  .apps .figure-adobe figure {
    transform: translate(-154px, -126px);
  }
  .apps .figure-adobe figure img {
    width: 358px;
  }
  .apps .figure-adobe figcaption {
    transform: scale(0.8) translate(233px, 295px);
  }
  .apps .figure-fantasian figure {
    transform: translate(19px, -82px);
  }
  .apps .figure-fantasian figure img {
    width: 358px;
  }
  .apps .figure-fantasian figcaption {
    transform: scale(0.8) translate(24px, 282px);
  }
  .apps .figure-books figure {
    transform: translate(-100px, -40px);
  }
  .apps .figure-books figure img {
    width: 270px;
  }
  .apps .figure-books figcaption {
    transform: scale(0.8) translate(197px, 407px);
  }
  .apps .figure-goodnotes figure {
    transform: translate(132px, -110px);
  }
  .apps .figure-goodnotes figure img {
    width: 286px;
  }
  .apps .figure-goodnotes figcaption {
    transform: scale(0.8) translate(24px, -37px);
  }
}
