/* AR */
.ar {
  padding: 20px 20px 0;
  background-color: var(--color-section);
}
.ar .whitebox {
  padding-bottom: 0;
}
.ar .inner {
  display: flex;
}
.ar .inner > div {
  max-width: 410px;
  margin-top: 60px;
  margin-right: 90px;
}

@include tablet {
  .ar .image {
    width: 258px;
  }
}

@include mobile {
  .ar .inner {
    flex-direction: column;
    align-items: center;
  }
  .ar .inner > div {
    max-width: none;
    margin: 0 0 30px;
    text-align: center;
  }
  .ar .icon {
    margin: 0 auto 20px;
  }
}
