/* Compare */
.compare {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}
.compare .items {
  display: flex;
  justify-content: space-around;
  max-width: 940px;
  margin: 68px auto 74px;
}
.compare .item {
  width: 190px;
  padding-bottom: 34px;
  border-bottom: 1px solid var(--color-border);
}
.compare .item .thumbnail {
  height: 214px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.compare .item ul.colors {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 6px;
}
.compare .item ul.colors li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: lightgray;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.compare .item h3.name {
  margin-bottom: 4px;
  font-size: 22px;
}
.compare .item .tagline {
  margin-bottom: 20px;
  font-size: 16px;
}
.compare .item .price {
  margin-bottom: 10px;
  font-size: 14px;
}
.compare .item .btn {
  margin: 0 auto 14px;
}
.compare .item a.link {
  font-size: 14px;
}

@include tablet {
  .compare .items {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin: 68px auto 34px;
  }
}

@include mobile {
  .compare .whitebox {
    max-width: 430px;
  }
  .compare .items {
    max-width: 190px;
  }
  .compare .item {
    border-bottom: none;
  }
  .compare .links {
    padding-top: 40px;
    border-top: 1px solid var(--color-border);
  }
  .compare a.link {
    margin-top: 0;
  }
}
