/* iPadOS */
.ipados {
  margin-top: 212px;
}
.ipados h1 {
  width: 530px;
  height: 400px;
  margin: 0 auto;
  background-image: url("/assets/images/ipados_headline.png");
}
.ipados .infos {
  margin-top: 44px;
  align-items: flex-end;
}
.ipados .figures {
  display: flex;
  height: 782px;
}
.ipados .figures > div {
  flex-grow: 1;
  position: relative;
}
.ipados .figure-split-view figure {
  transform: translate(-205px, -312px);
}
.ipados .figure-split-view figcaption {
  width: 163px;
  height: 53px;
  background-image: url("/assets/images/ipados_split_view_caption.png");
  transform: translate(200px, -38px);
}
.ipados .figure-widgets figure {
  transform: translate(237px, 43px);
}
.ipados .figure-widgets figcaption {
  width: 161px;
  height: 46px;
  background-image: url("/assets/images/ipados_widgets_caption.png");
  transform: translate(257px, 497px);
}
.ipados .figure-quick-note figure {
  transform: translate(-625px, 232px);
}
.ipados .figure-quick-note figcaption {
  width: 82px;
  height: 97px;
  background-image: url("/assets/images/ipados_quick_note_caption.png");
  transform: translate(511px, 470px);
}

@include tablet {
  .ipados {
    margin-top: 100px;
  }
  .ipados h1 {
    width: 357px;
    height: 274px;
    margin: 0;
  }
  .ipados .infos {
    margin-top: -98px;
  }
  .ipados .figures {
    height: 520px;
  }
  .ipados .figure-split-view figure {
    transform: translate(-17px, -187px);
  }
  .ipados .figure-split-view figure img {
    width: 441px;
  }
  .ipados .figure-split-view figcaption {
    transform: scale(0.8) translate(30px, -50px);
  }
  .ipados .figure-widgets figure {
    transform: translate(180px, 3px);
  }
  .ipados .figure-widgets figure img {
    width: 441px;
  }
  .ipados .figure-widgets figcaption {
    transform: scale(0.8) translate(152px, 345px);
  }
  .ipados .figure-quick-note figure {
    transform: translate(-346px, 119px);
  }
  .ipados .figure-quick-note figure img {
    width: 333px;
  }
  .ipados .figure-quick-note figcaption {
    transform: scale(0.8) translate(350px, 310px);
  }
}

@include mobile {
  .ipados h1 {
    width: 300px;
    height: 227px;
    margin: 0 auto;
  }
  .ipados .infos {
    margin-top: 30px;
  }
  .ipados .figures {
    display: block;
    height: auto;
  }
  .ipados .figures > div {
    display: flex;
    justify-content: center;
  }
  .ipados .figure-split-view figure {
    transform: translate(64px, 55px);
  }
  .ipados .figure-split-view figure img {
    width: 370px;
  }
  .ipados .figure-split-view figcaption {
    transform: scale(0.8) translate(39px, -55px);
  }
  .ipados .figure-widgets figure {
    transform: translate(-19px, 34px);
  }
  .ipados .figure-widgets figure img {
    width: 375px;
  }
  .ipados .figure-widgets figcaption {
    transform: scale(0.8) translate(252px, 287px);
  }
  .ipados .figure-quick-note figure {
    transform: translate(35px, 46px);
  }
  .ipados .figure-quick-note figure img {
    width: 283px;
  }
  .ipados .figure-quick-note figcaption {
    width: 76px;
    height: 88px;
    background-image: url("/assets/images/ipados_quick_note_caption_mobile.png");
    transform: scale(1) translate(-65px, 250px);
  }
}
