/* Privacy */
.privacy {
  margin-top: 238px;
}
.privacy h1 {
  width: 482px;
  height: 237px;
  margin-left: auto;
  background-image: url("/assets/images/privacy_headline.png");
  transform: translate(57px, 0);
  position: relative;
  z-index: 1;
}
.privacy .infos {
  margin-top: 38px;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
.privacy figure {
  transform: translate(-215px, -500px);
}
.privacy figcaption .caption-apple-id {
  width: 170px;
  height: 26px;
  background-image: url("/assets/images/privacy_caption_apple_id.png");
  transform: translate(195px, -13px);
}
.privacy figcaption .caption-touch-id {
  width: 150px;
  height: 31px;
  background-image: url("/assets/images/privacy_caption_touch_id.png");
  transform: translate(533px, 485px);
}

@include tablet {
  .privacy {
    margin-top: 120px;
  }
  .privacy h1 {
    width: 368px;
    height: 182px;
    transform: translate(70px, 0);
  }
  .privacy .infos {
    margin-top: 24px;
  }
  .privacy figure {
    transform: translate(-18px, -440px);
  }
  .privacy figure img {
    width: 441px;
  }
  .privacy figcaption .caption-apple-id {
    transform: scale(0.8) translate(-22px, -18px);
  }
  .privacy figcaption .caption-touch-id {
    transform: scale(0.8) translate(293px, 339px);
  }
}

@include mobile {
  .privacy h1 {
    width: 277px;
    height: 136px;
    margin: 0 auto;
    transform: none;
  }
  .privacy .figures {
    margin-top: 30px;
  }
  .privacy figure {
    transform: translate(20px, 0);
  }
}
